<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<robot name="rexrov2" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="rexrov2"/>
  <xacro:arg name="use_simplified_mesh" default="false"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <xacro:arg name="tool_l" default="0.28"/>
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find rexrov2_description)/urdf/rexrov2_base.xacro"/>
  <xacro:include filename="$(find rexrov2_description)/urdf/rexrov2.gazebo.xacro"/>
  <xacro:include filename="$(find rexrov2_iiwa14)/urdf/iiwa14_uuv_merged.xacro" />

  <xacro:forward_looking_sonar
      namespace="$(arg namespace)"
      suffix="down"
      parent_link="$(arg namespace)/base_link"
      topic="forward_sonar"
      mass="0.015"
      update_rate="40"
      samples="100"
        fov="1.54719755"
        width="768"
        height="492">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <!--origin xyz="0.83 0 -0.22" rpy="0 ${0.2*pi} 0" /-->
      <origin xyz="1.15 0 0.4" rpy="0 0.3 0"/>
      <visual>
      </visual>
  </xacro:forward_looking_sonar>

  <!-- Create the ROV -->
  <xacro:rexrov2_base
    namespace="$(arg namespace)"
    use_simplified_mesh="$(arg use_simplified_mesh)"
    inertial_reference_frame="$(arg inertial_reference_frame)">
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1028.0</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle-->
        <xacro:rexrov2_hydro_model namespace="$(arg namespace)"/>
        <!-- xacro:iiwa14_hydro_model namespace="iiwa14"/-->
      </plugin>
    </gazebo>
  </xacro:rexrov2_base>
<!-- -->
<!--  <xacro:iiwa14   parent="$(arg namespace)/base_link" hardware_interface="PositionJointInterface" robot_name="iiwa" tool_l="$(arg tool_l)">-->
<!--    <origin xyz="1.22 0 -0.75" rpy="0 0 3.1416"/>-->
<!--  </xacro:iiwa14>-->
<xacro:iiwa14   parent="$(arg namespace)/base_link" hardware_interface="PositionJointInterface" robot_name="iiwa" tool_l="$(arg tool_l)">
    <!-- <origin xyz="1.22 0 -0.75" rpy="0 0 3.1416"/> -->
    <origin xyz="1.22 0 -0.75" rpy="0 0 3.1416"/>
  </xacro:iiwa14>

   <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/$(arg namespace)</robotNamespace>
        <robotParam>/$(arg namespace)/robot_description</robotParam>
      </plugin>
   </gazebo>


  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

  <!-- camera attached to rexrov2/base_link-->
 <gazebo reference="rexrov2/base_link">
    <sensor type="camera" name="camera_out">
      <update_rate>30.0</update_rate>
      <camera name="head">
	<pose>4 -4 2 0.0 0.275643 2.356190</pose>
	 <view_controller>orbit</view_controller>
      <!--   <horizontal_fov>1.3962634</horizontal_fov>  -->
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rexrov2/camera_out</cameraName>
        <imageTopicName>/rexrov2/camera_out/image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>rexrov2/base_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
 </gazebo>

    <!-- Enable the Joint Feedback for the force sensor Test HT -->
    <gazebo reference="ft_joint_ee">
      <provideFeedback>true</provideFeedback>
    </gazebo>

</robot>
